<footer class="nk-footer">

    <div class="container">
        <div class="nk-gap-3"></div>
        <div class="row vertical-gap">
            <div class="col-md-6">
                <div class="nk-widget">
                    <h4 class="nk-widget-title"><span class="text-main-1">Contact</span> With Us</h4>
                    <div class="nk-widget-content">
                        <form action="/php/ajax-contact-form.php" class="nk-form nk-form-ajax">
                            <div class="row vertical-gap sm-gap">
                                <div class="col-md-6">
                                    <input type="email" class="form-control required" name="email"
                                           placeholder="Email *">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control required" name="name"
                                           placeholder="Name *">
                                </div>
                            </div>
                            <div class="nk-gap"></div>
                            <textarea class="form-control required" name="message" rows="5"
                                      placeholder="Message *"></textarea>
                            <div class="nk-gap-1"></div>
                            <button class="nk-btn nk-btn-rounded nk-btn-color-white">
                                <span>Send</span>
                                <span class="icon"><i class="ion-paper-airplane"></i></span>
                            </button>
                            <div class="nk-form-response-success"></div>
                            <div class="nk-form-response-error"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nk-widget">
                    <h4 class="nk-widget-title"><span class="text-main-1">Latest</span> Posts</h4>
                    <div class="nk-widget-content">
                        <div class="row vertical-gap sm-gap">

                            <div class="col-lg-6">
                                <div class="nk-widget-post-2">
                                    <a href="/Home/BlogArticle" class="nk-post-image">
                                        <img src="~/assets/images/post-1-sm.jpg" alt="">
                                    </a>
                                    <div class="nk-post-title">
                                        <a href="/Home/BlogArticle">
                                            Smell magic in the
                                            air. Or maybe barbecue
                                        </a>
                                    </div>
                                    <div class="nk-post-date">
                                        <span class="fa fa-calendar"></span> Sep 18, 2018
                                        <span class="fa fa-comments"></span> <a href="#">4</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="nk-widget-post-2">
                                    <a href="/Home/BlogArticle" class="nk-post-image">
                                        <img src="~/assets/images/post-2-sm.jpg" alt="">
                                    </a>
                                    <div class="nk-post-title">
                                        <a href="/Home/BlogArticle">
                                            Grab your sword and
                                            fight the Horde
                                        </a>
                                    </div>
                                    <div class="nk-post-date">
                                        <span class="fa fa-calendar"></span> Sep 5, 2018
                                        <span class="fa fa-comments"></span> <a href="#">7</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="nk-widget">
                    <h4 class="nk-widget-title"><span class="text-main-1">In</span> Twitter</h4>
                    <div class="nk-widget-content">
                        <div class="nk-twitter-list" data-twitter-count="1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-3"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h6>Địa Chỉ Liên Hệ</h6>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0573415705794!2d106.6266457147187!3d10.806920292300836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be27ea41e05%3A0xfa77697a39f13ab0!2zMTQwIEzDqiBUcuG7jW5nIFThuqVuLCBUw6J5IFRo4bqhbmgsIFTDom4gUGjDuiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1665981497696!5m2!1svi!2s" width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-md-2 col-sm-6">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                    <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                    <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6">
                <h6>Quick Links</h6>
                <div class="cube" style="margin-left: 20%; margin-top: 20%;">
                    <div class="top"></div>
                    <div>
                        <span style="--i:0;">
                            <h2 style="text-align: center; font-family: 'Lemonada', sans-serif;">Game</h2>
                            <h2 style="text-align: center; font-family: 'Lemonada', sans-serif;">Game</h2>
                        </span>
                        <span style="--i:1;">
                            <h2 style="text-align: center; font-family: 'Lemonada', sans-serif;">Game</h2>
                            <h2 style="text-align: center; font-family: 'Lemonada', sans-serif;">Game</h2>
                        </span>
                        <span style="--i:2;">
                            <h2 style="text-align: center; font-family: 'Lemonada', sans-serif;">Game</h2>
                            <h2 style="text-align: center; font-family: 'Lemonada', sans-serif;">Game</h2>
                        </span>
                        <span style="--i:3;">
                            <h2 style="text-align: center; font-family: 'Lemonada', sans-serif;">Game</h2>
                            <h2 style="text-align: center; font-family: 'Lemonada', sans-serif;">Game</h2>
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <h6>Fanpage</h6>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcongtyitnm&tabs=timeline&width=300&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
        <hr>
    </div>
    <!-- End Contact Container -->
    <div class="nk-copyright">
        <div class="container">
            <div class="nk-copyright-left">
                <a target="_blank" href="#">Cypy right || 2022 by Du An Game</a>
            </div>
            <div class="nk-copyright-right">
                <ul class="nk-social-links-2">
                    <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>
                    <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                    <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                    <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                    <li>
                        <a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a>
                    </li>
                    <li>
                        <a class="nk-social-twitter" href="#" target="_blank">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>