@model IEnumerable<Khoaluan.ModelViews.SaleModelView>

<div class="row" id="card-view">
    @if (Model != null || Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="m-t-20 text-center">
                            <div class="avatar avatar-image" style="height: 100px; width: 100px;">
                                <img src="~/Images/@Url.Content(item.Image)" alt="">
                            </div>
                            <h4 class="m-t-30">@item.ProductName</h4>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

</div>