@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Support";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://help.steampowered.com/public/shared/css/motiva_sans.css?v=zaLmG4UPg8fx" rel="stylesheet" type="text/css">
<link href="https://help.steampowered.com/public/shared/css/buttons.css?v=MUB7zIJ1N_wP" rel="stylesheet" type="text/css">
<link href="https://help.steampowered.com/public/shared/css/shared_global.css?v=3T1-_pGJZooV" rel="stylesheet" type="text/css">
<link href="https://help.steampowered.com/public/shared/css/store_game_shared.css?v=3762vFgJovj_" rel="stylesheet" type="text/css">
<link href="https://help.steampowered.com/public/css/help.css?v=d84mb3QmTs-w" rel="stylesheet" type="text/css">
<link href="https://help.steampowered.com/public/shared/css/shared_responsive.css?v=mw8FkS3TSKlH" rel="stylesheet" type="text/css">

<script type="text/javascript">Object.seal && [Object, Array, String, Number].map(function (builtin) { Object.seal(builtin.prototype); });</script><script type="text/javascript" src="https://help.steampowered.com/en/public/shared/javascript/jquery-1.8.3.min.js?v=.TZ2NKhB-nliU"></script>
<script type="text/javascript">$J = jQuery.noConflict();</script>
<script type="text/javascript">VALVE_PUBLIC_PATH = "https:\/\/help.steampowered.com\/public\/";</script><script type="text/javascript" src="https://help.steampowered.com/en/public/shared/javascript/tooltip.js?v=.zYHOpI1L3Rt0"></script>

<script type="text/javascript" src="https://help.steampowered.com/en/public/shared/javascript/shared_global.js?v=tBbIfg8tQtZ7"></script>

<script type="text/javascript" src="https://help.steampowered.com/en/public/shared/javascript/shipping.js?v=UNHGApy46crv"></script>

<script type="text/javascript" src="https://help.steampowered.com/en/public/javascript/base64-binary.js?v=RSKiJSIiCI4Y"></script>

<script type="text/javascript" src="https://help.steampowered.com/en/public/javascript/help.js?v=PFnRSu9WSWMp"></script>

<script type="text/javascript" src="https://help.steampowered.com/en/public/shared/javascript/dselect.js?v=sjouo3-33Gox"></script>

<script type="text/javascript" src="https://help.steampowered.com/en/public/shared/javascript/legacy_web/main.js?v=uAIfvYWVKCse"></script>

<script type="text/javascript">
	setTimezoneCookies();
	$J(function ($) {
		window.BindHelpTooltip = function ($Selector) { $Selector.v_tooltip({ 'tooltipClass': 'help_tooltip', 'dataName': 'helpTooltip' }); };
		BindHelpTooltip($('[data-help-tooltip]'));
	});

</script>
<script src="https://recaptcha.net/recaptcha/enterprise.js?render=explicit" async="" defer=""></script><script type="text/javascript" src="https://help.steampowered.com/en/public/shared/javascript/shared_responsive_adapter.js?v=iaNf89ykEMuF"></script>

<link rel="image_src" href="https://help.steampowered.com/public/shared/images/responsive/share_steam_logo.png">
<link rel="alternate" href="https://help.steampowered.com/" hreflang="x-default">
<link rel="stylesheet" type="text/css" href="style.css">


<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"><script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
<body class="v6 responsive_page">


<div class="responsive_page_frame with_header">	
	<div class="responsive_page_content">

		<div class="responsive_page_template_content" id="responsive_page_template_content" data-panel="{&quot;autoFocus&quot;:true}">

			
	<div id="loading_throbber" class="LoadingWrapper page_loaded">
		<div class="LoadingThrobber">
			<div class="Bar Bar1"></div>
			<div class="Bar Bar2"></div>
			<div class="Bar Bar3"></div>
		</div>
	</div>

	<div class="page_body_ctn">
		<div id="page_content" class="page_content page_loaded">
			<div id="wizard_contents"><div class="wizard_content_wrapper"><a class="help_header" href="https://help.steampowered.com/en/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Steam Support</font></font></a>
<div class="breadcrumbs" id="search_breadcrumbs" style="display: none">
	<a href="https://help.steampowered.com/en/">Home</a> &gt; Search</div>


<div id="help_home_block">

	<div class="help_intro_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					What do you need help with?			</font></font></div>


					<div class="help_login_nag">
			<div class="help_login_nag_intro"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Sign in to your Steam account to review purchases, account status, and get personalized help.			</font></font></div>
			<div class="help_login_nag_buttons">
				<div class="help_login_nag_left">
					<a data-panel="{&quot;autoFocus&quot;:true}" href="https://help.steampowered.com/en/wizard/Login?redir=%2Fen%2Fwizard%2FHome%3Fgamepad%3D0" class="btn_medium btnv6_blue_hoverfade btn_login_nag_left">
						<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sign in to Steam</font></font></span>
					</a>
				</div>
				<div class="help_login_nag_right">
					<a href="https://help.steampowered.com/en/wizard/HelpWithLogin" class="btn_medium btnv6_blue_hoverfade btn_login_nag_right">
						<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Help, I can't sign in</font></font></span>
					</a>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
			
	
	
	
			<div class="help_section_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Popular products</font></font></div>

		
		<a href="https://help.steampowered.com/en/wizard/HelpWithGame/?appid=730" class="help_wizard_button help_wizard_arrow_right">
							<img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/730/69f7ebe2735c366c65c0b33dae00e12dc40edbe4.jpg">
						<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Counter-Strike: Global Offensive							</font></font></span>
		</a>
	
		<a href="https://help.steampowered.com/en/wizard/HelpWithGame/?appid=570" class="help_wizard_button help_wizard_arrow_right">
							<img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/570/0bbb630d63262dd66d2fdd0f7d37e8661a410075.jpg">
						<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Dota 2							</font></font></span>
		</a>
	
		<a href="https://help.steampowered.com/en/wizard/HelpWithGame/?appid=578080" class="help_wizard_button help_wizard_arrow_right">
							<img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/578080/609f27278aa70697c13bf99f32c5a0248c381f9d.jpg">
						<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				PUBG: BATTLEGROUNDS							</font></font></span>
		</a>
	
		<a href="https://help.steampowered.com/en/wizard/HelpWithGame/?appid=1172470" class="help_wizard_button help_wizard_arrow_right">
							<img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/1172470/070902d2389878ac4bf29efb5b92832c60bdf24e.jpg">
						<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Apex Legends							</font></font></span>
		</a>
		
	

	<div class="help_divider"></div>

				
	
    <a href="https://help.steampowered.com/en/wizard/HelpWithSteamIssue/?issueid=809" class=" help_wizard_button help_wizard_arrow_right ">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Steam Guard Mobile Authenticator</font></font></span>
    </a>
    <div class="help_divider"></div>

	<a href="https://help.steampowered.com/en/wizard/HelpWithGame" class=" help_wizard_button help_wizard_button_large help_wizard_arrow_right">
		<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Games, Software, etc.</font></font></span>
	</a>

	<a href="https://help.steampowered.com/en/wizard/HelpWithPurchase" class="help_wizard_button help_wizard_button_large help_wizard_arrow_right">
		<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Purchases</font></font></span>
	</a>

	
	<a href="https://help.steampowered.com/en/wizard/HelpWithAccount" class="help_wizard_button help_wizard_button_large help_wizard_arrow_right">
		<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">My Account</font></font></span>
	</a>

	<a class="help_wizard_button help_wizard_button_large help_wizard_arrow_right" href="https://help.steampowered.com/en/wizard/HelpWithEcon"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trading, Gifting, Market and Steam Points</font></font></span></a>
	<a href="https://help.steampowered.com/en/wizard/HelpWithSteam" class="help_wizard_button help_wizard_button_large help_wizard_arrow_right">
		<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Steam Client</font></font></span>
	</a>

	<a class="help_wizard_button help_wizard_button_large help_wizard_arrow_right" href="https://help.steampowered.com/en/wizard/HelpWithCommunity"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Steam Community</font></font></span></a>
	<a class="help_wizard_button help_wizard_button_large help_wizard_arrow_right" href="https://help.steampowered.com/en/wizard/HelpWithSteamHardware"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Steam Hardware</font></font></span></a>
	
			<!-- special options for anonymous users -->
		<div class="help_divider"></div>

		<a href="https://help.steampowered.com/en/wizard/HelpWithUnknownCharges" class="help_wizard_button help_wizard_button_large help_wizard_arrow_right">
			<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">I have charges from Steam that I didn't make</font></font></span>
		</a>
	
	<div style="padding-top: 60px"></div>
</div>

<div id="help_search_support_form">
	<input id="help_search_support_input" type="text" name="searchwords" maxlength="200" placeholder="Search issues, features, and games" autocomplete="off" data-method="Home">
</div>

<div id="faqs_search_results">
</div></div></div>
			<div id="wizard_perf_data"></div>
		</div>
	</div>
	<script>
				var g_sessionID = "c097ff14a1b283857858b80c";
				var g_ServerTime = 1665989895;
				var g_strLanguage = 'english';
			</script>	<script type="text/javascript">
	var g_rgDefaultWizardPageParams = { sessionid: g_sessionID, wizard_ajax: 1, gamepad: 0 };

	
	$J( function() {
				HelpWizard.HookOnHashChange();
					HelpWizard.InitStaticPage();
				if ( window.location.hash && window.location.hash.length > 2 )
			HelpWizard.LoadPageFromHash( true );
	} );
	</script>

		</div>	<!-- responsive_page_legacy_content -->

	</div>	<!-- responsive_page_content -->

</div>	<!-- responsive_page_frame --><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Dịch"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Văn bản gốc</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Đóng góp bản dịch hay hơn</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>

<div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div></body>