@model Khoaluan.ModelViews.ChangePasswordViewModel

<div class="nk-feature-2">
    <div class="nk-feature-icon">
        <span class="fa fa-key"></span>
    </div>
    <div class="nk-feature-cont text-center">
        <h3 class="nk-feature-title">Change <span class="text-main-1">Password</span></h3>
        <div class="nk-gap-1"></div>
        <form method="post" action="@Url.Action("ChangePassword", "Users")" class="nk-form text-white">
            <div class="row">
                <div class="col-md-12">
                    <input type="password" value="" asp-for="PasswordNow" class="required form-control"
                           placeholder="Current Password">
                    <div class="nk-error"><span asp-validation-for="PasswordNow" class="text-danger"></span></div>
                    <div class="nk-gap"></div>
                    <input type="password" value="" asp-for="Password" class="required form-control"
                           placeholder="New Password">
                    <div class="nk-gap"></div>
                    <div class="nk-error"><span asp-validation-for="Password" class="text-danger"></span></div>
                    <input type="password" value="" asp-for="ConfirmPassword" class="required form-control"
                           placeholder="Confirm Password">
                    <div class="nk-error"><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
                </div>
            </div>
            <div class="nk-gap-1"></div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Save change" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block" />
                </div>
            </div>
        </form>
        <div class="nk-gap"></div>
    </div>
</div>

