
@{
    ViewData["Title"] = "DetailForum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nk-main">

    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><a href="forum.html">Forum</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><a href="forum-topics.html">Main Game Discussions</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Suggestions</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->





    <div class="container">

        <!-- START: Pagination -->
        <div class="row justify-content-end">
            <div class="col-md-3 text-right">
                <a href="#forum-reply" class="nk-btn nk-btn-rounded nk-btn-color-white nk-anchor">Reply</a>
            </div>
        </div>
        <!-- END: Pagination -->

        <div class="nk-gap-2"></div>

        <!-- START: Forums List -->
        <ul class="nk-forum nk-forum-topic">
            <li>
                <div class="nk-forum-topic-author">
                    <a href="#">
                        <img src="assets/images/avatar-1.jpg" alt="Hitman">
                    </a>
                    <div class="nk-forum-topic-author-name" title="Hitman">
                        <a href="#">Hitman</a>
                    </div>
                    <div class="nk-forum-topic-author-role">Keymaster</div>
                    <div class="nk-forum-topic-author-since">
                        Member since January 13, 2018
                    </div>
                </div>
                <div class="nk-forum-topic-content">
                    <p>
                        Void whose god was over image signs creature sea air moved winged whose image creepeth two
                        yielding. Moving made night firmament hath god sea waters were. It she'd dominion the of
                        upon, night evening us yielding made form land darkness third. Lights lesser was darkness
                        dominion two. Greater i every subdue shall form, had under i sixth fowl moving. Gathering
                        moveth under given his very created. Beast.
                    </p>
                    <p>
                        His, divided grass female first void firmament tree years gathering whose saw moving air upon
                        first lights. Fill female give Divided signs above. Green sixth fruitful you seasons. Fly
                        saying. Place appear After.
                    </p>

                    <div class="nk-forum-topic-attachments">
                        <h4 class="h5">Attachments</h4>
                        <a href="#">goodgames-free.zip</a>
                        <br>
                        (14.86 MiB) Downloaded 185 times
                    </div>
                </div>
                <div class="nk-forum-topic-footer">
                    <span class="nk-forum-topic-date">June 18, 2018</span>

                    <span class="nk-forum-action-btn">
                        <a href="#forum-reply" class="nk-anchor"><span class="fa fa-reply"></span> Reply</a>
                    </span>
                    <span class="nk-forum-action-btn">
                        <a href="#"><span class="fa fa-flag"></span> Spam</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="nk-forum-topic-author">
                    <a href="#">
                        <img src="assets/images/avatar-2.jpg" alt="Witch Murder">
                    </a>
                    <div class="nk-forum-topic-author-name" title="Witch Murder">
                        <a href="#">Witch Murder</a>
                    </div>
                    <div class="nk-forum-topic-author-role">Participant</div>
                    <div class="nk-forum-topic-author-since">
                        Member since March 27, 2018
                    </div>
                </div>
                <div class="nk-forum-topic-content">
                    <p>
                        Whose so, make moving beginning fowl place make form years lights wherein don't seas grass.
                        Fruitful likeness appear bearing evening be. Earth form day form gathered whose place
                        bearing creeping meat open had meat they're likeness shall waters won't can't one multiply
                        sea seed green don't their beginning can't one fruit seasons the.
                    </p>
                    <p>
                        Bearing beast creature replenish yielding female. Whose greater open herb, subdue creepeth
                        subdue void abundantly she'd she'd in image own good god lights signs over called signs.
                        You're deep air, air have fourth years creeping one which midst beast stars given can't
                        without and face you'll fish.
                    </p>
                </div>
                <div class="nk-forum-topic-footer">
                    <span class="nk-forum-topic-date">June 19, 2018</span>

                    <span class="nk-forum-action-btn">
                        <a href="#forum-reply" class="nk-anchor"><span class="fa fa-reply"></span> Reply</a>
                    </span>
                    <span class="nk-forum-action-btn">
                        <a href="#"><span class="fa fa-flag"></span> Spam</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="nk-forum-topic-author">
                    <a href="#">
                        <img src="assets/images/avatar-1.jpg" alt="Hitman">
                    </a>
                    <div class="nk-forum-topic-author-name" title="Hitman">
                        <a href="#">Hitman</a>
                    </div>
                    <div class="nk-forum-topic-author-role">Keymaster</div>
                    <div class="nk-forum-topic-author-since">
                        Member since January 13, 2018
                    </div>
                </div>
                <div class="nk-forum-topic-content">
                    <p>
                        Given creeping he behold. Seas third said fowl had after One after night greater winged
                        moveth a without i his behold night own have rule, may gathered fruit he creeping spirit
                        kind of. Open earth. He for fish years in Unto forth abundantly two let. Image creature over
                        whose deep.
                    </p>
                </div>
                <div class="nk-forum-topic-footer">
                    <span class="nk-forum-topic-date">June 20, 2018</span>

                    <span class="nk-forum-action-btn">
                        <a href="#forum-reply" class="nk-anchor"><span class="fa fa-reply"></span> Reply</a>
                    </span>
                    <span class="nk-forum-action-btn">
                        <a href="#"><span class="fa fa-flag"></span> Spam</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="nk-forum-topic-author">
                    <a href="#">
                        <img src="assets/images/avatar-3.jpg" alt="Wolfenstein">
                    </a>
                    <div class="nk-forum-topic-author-name" title="Wolfenstein">
                        <a href="#">Wolfenstein</a>
                    </div>
                    <div class="nk-forum-topic-author-role">Moderator</div>
                    <div class="nk-forum-topic-author-since">
                        Member since February 2, 2018
                    </div>
                </div>
                <div class="nk-forum-topic-content">
                    <p>
                        Was beginning so you're years so third it moveth had. Have open. Every. Firmament seasons one
                        his creepeth forth beast.
                    </p>
                    <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=6cXyQg_5uoc"></div>
                </div>
                <div class="nk-forum-topic-footer">
                    <span class="nk-forum-topic-date">June 23, 2018</span>

                    <span class="nk-forum-action-btn">
                        <a href="#forum-reply" class="nk-anchor"><span class="fa fa-reply"></span> Reply</a>
                    </span>
                    <span class="nk-forum-action-btn">
                        <a href="#"><span class="fa fa-flag"></span> Spam</a>
                    </span>
                </div>
            </li>
        </ul>
        <!-- END: Forums List -->

        <div class="nk-gap-2"></div>

        <!-- START: Pagination -->
        <div class="nk-pagination nk-pagination-left">
            <a href="#" class="nk-pagination-prev">
                <span class="ion-ios-arrow-back"></span>
            </a>
            <nav>
                <a class="nk-pagination-current" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <span>...</span>
                <a href="#">14</a>
            </nav>
            <a href="#" class="nk-pagination-next">
                <span class="ion-ios-arrow-forward"></span>
            </a>
        </div>
        <!-- END: Pagination -->

        <div id="forum-reply"></div>
        <div class="nk-gap-4"></div>
        <!-- START: Reply -->
        <form action="#" novalidate>
            <h3 class="h4">Reply</h3>
            <div class="nk-gap-1"></div>
            <textarea name="reply" cols="30" rows="10" class="nk-summernote form-control"></textarea>
            <div class="nk-gap-1"></div>
            <button href="#" class="nk-btn nk-btn-rounded nk-btn-color-white">Reply</button>
        </form>
        <!-- END: Reply -->
    </div>

    <div class="nk-gap-2"></div>


</div>




<!-- START: Page Background -->

<img class="nk-page-background-top" src="assets/images/bg-top.png" alt="">
<img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt="">

<!-- END: Page Background -->