@model Khoaluan.Models.Item

@{ ViewData["Title"] = "Chỉnh sửa sản phẩm :" + Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }
@section Styles{
    <link href="~/Adminassets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Adminassets/summernote/summernote.css" rel="stylesheet" />
}

<form asp-controller="DevItem" asp-action="Edit" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Image" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Item Name</label>
                        <input type="text" class="form-control" asp-for="Name" required>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">MaxPrice</label>
                            <input type="number" class="form-control" asp-for="MaxPrice" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">MinPrice</label>
                            <input type="number" class="form-control" asp-for="MinPrice" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="font-weight-semibold" for="productCategory">Category Product</label>
                            <select class="custom-select" asp-for="ProductId" style="min-width: 200px;" asp-items="ViewBag.Item">
                                <option value="" disabled selected>Choose</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Image</label>
                        <input id="txtFile" name="fThumb" type="file" class="form-control-file" asp-for="Image" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                        <img id="imgView" width="400" height="559" src="~/Images/@Url.Content(Model.Image)" alt="@Model.Name" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="~/Adminassets/summernote/summernote-bs4.js"></script>

    <script>
    jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });

        $("#txtFile").change(function (event) {
            var files = event.target.files;
            $("#imgView").attr("src", window.URL.createObjectURL(files[0]));
        })
    </script>
}


