@model Khoaluan.Models.Developer
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Khoaluan.ModelViews.ChangePasswordViewModel changePassword = new Khoaluan.ModelViews.ChangePasswordViewModel();
}
<!-- Content Wrapper START -->
<div class="main-content">
    <div class="page-header no-gutters has-tab">
        <h2 class="font-weight-normal">Setting</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-network">Network</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="tab-account">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    <div class="d-md-flex align-items-center">
                                        <div class="text-center text-sm-left ">
                                            <div class="avatar avatar-image" style="width: 150px; height:150px">
                                                <img src="~/Adminassets/images/avatars/thumb-3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="text-center text-sm-left m-v-15 p-l-30">
                                            <h2 class="m-b-5">@User.Identity.Name</h2>
                                            <p class="text-opacity font-size-13">@Model.UserName</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="d-md-block d-none border-left col-1"></div>
                                        <div class="col">
                                            <ul class="list-unstyled m-t-10">
                                                <li class="row">
                                                    <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                                        <i class="m-r-10 text-primary anticon anticon-mail"></i>
                                                        <span>Email: </span>
                                                    </p>
                                                <p class="col font-weight-semibold"> @Model.UserName</p>
                                                </li>
                                            </ul>
                                            <div class="d-flex font-size-22 m-t-15">
                                                <a href="" class="text-gray p-r-20">
                                                    <i class="anticon anticon-facebook"></i>
                                                </a>
                                                <a href="" class="text-gray p-r-20">
                                                    <i class="anticon anticon-twitter"></i>
                                                </a>
                                                <a href="" class="text-gray p-r-20">
                                                    <i class="anticon anticon-behance"></i>
                                                </a>
                                                <a href="" class="text-gray p-r-20">
                                                    <i class="anticon anticon-dribbble"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Bio</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
                                    <hr>
                                    <h5>Specialilty</h5>
                                    <h5 class="m-t-20">
                                        <span class="badge badge-pill badge-default font-weight-normal m-r-10 m-b-10">Sketch</span>
                                        <span class="badge badge-pill badge-default font-weight-normal m-r-10 m-b-10">Marvel</span>
                                        <span class="badge badge-pill badge-default font-weight-normal m-r-10 m-b-10">Photoshop</span>
                                        <span class="badge badge-pill badge-default font-weight-normal m-r-10 m-b-10">Illustrator</span>
                                        <span class="badge badge-pill badge-default font-weight-normal m-r-10 m-b-10">Web Design</span>
                                        <span class="badge badge-pill badge-default font-weight-normal m-r-10 m-b-10">Mobile App Design</span>
                                        <span class="badge badge-pill badge-default font-weight-normal m-r-10 m-b-10">User Interface</span>
                                        <span class="badge badge-pill badge-default font-weight-normal m-r-10 m-b-10">User Experience</span>
                                    </h5>
                                    <hr>
                                    <h5>Experices</h5>
                                    <div class="m-t-20">
                                        <div class="media m-b-30">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/others/adobe-thumb.png" alt="">
                                            </div>
                                            <div class="media-body m-l-20">
                                                <h6 class="m-b-0">UI/UX Designer, Adobe Inc.</h6>
                                                <span class="font-size-13 text-gray">Jul 2018</span>
                                            </div>
                                        </div>
                                        <div class="media m-b-30">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/others/amazon-thumb.png" alt="">
                                            </div>
                                            <div class="media-body m-l-20">
                                                <h6 class="m-b-0">Product Developer, Amazon.com Inc.</h6>
                                                <span class="font-size-13 text-gray">Jul-2017 - Jul 2018</span>
                                            </div>
                                        </div>
                                        <div class="media m-b-30">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/others/nvidia-thumb.png" alt="">
                                            </div>
                                            <div class="media-body m-l-20">
                                                <h6 class="m-b-0">Interface Designer, Nvidia Corporation</h6>
                                                <span class="font-size-13 text-gray">Jul-2016 - Jul 2017</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5>Education</h5>
                                    <div class="m-t-20">
                                        <div class="media m-b-30">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/others/cambridge-thumb.png" alt="">
                                            </div>
                                            <div class="media-body m-l-20">
                                                <h6 class="m-b-0">MSt in Social Innovation, Cambridge University</h6>
                                                <span class="font-size-13 text-gray">Jul-2012 - Jul 2016</span>
                                            </div>
                                        </div>
                                        <div class="media m-b-30">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/others/phillips-academy-thumb.png" alt="">
                                            </div>
                                            <div class="media-body m-l-20">
                                                <h6 class="m-b-0">Phillips Academy</h6>
                                                <span class="font-size-13 text-gray">Jul-2005 - Jul 2011</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Connected</h5>
                                    <div class="m-t-30">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/avatars/thumb-1.jpg" alt="">
                                            </div>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">
                                                    <a href="" class="text-dark">Erin Gonzales</a>
                                                </h5>
                                                <span class="font-size-13 text-gray">UI/UX Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-30">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/avatars/thumb-2.jpg" alt="">
                                            </div>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">
                                                    <a href="" class="text-dark">Darryl Day</a>
                                                </h5>
                                                <span class="font-size-13 text-gray">Software Engineer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-30">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/avatars/thumb-3.jpg" alt="">
                                            </div>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">
                                                    <a href="" class="text-dark">Marshall Nichols</a>
                                                </h5>
                                                <span class="font-size-13 text-gray">Product Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-30">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image">
                                                <img src="~/Adminassets/images/avatars/thumb-6.jpg" alt="">
                                            </div>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">
                                                    <a href="" class="text-dark">Riley Newman</a>
                                                </h5>
                                                <span class="font-size-13 text-gray">Data Analyst</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5>Projects</h5>
                                    <div class="m-t-20">
                                        <div class="m-b-20 p-b-20 border-bottom">
                                            <div class="media align-items-center m-b-15">
                                                <div class="avatar avatar-image">
                                                    <img src="~/Adminassets/images/others/coffee-app-thumb.jpg" alt="">
                                                </div>
                                                <div class="media-body m-l-20">
                                                    <h5 class="m-b-0">
                                                        <a href="" class="text-dark">Coffee Finder App</a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                            <div class="d-inline-block">
                                                <a class="m-r-5" data-toggle="tooltip" title="Eugene Jordan" href="">
                                                    <div class="avatar avatar-image avatar-sm">
                                                        <img src="~/Adminassets/images/avatars/thumb-6.jpg" alt="">
                                                    </div>
                                                </a>
                                                <a class="m-r-5" data-toggle="tooltip" title="Pamela" href="">
                                                    <div class="avatar avatar-image avatar-sm">
                                                        <img src="~/Adminassets/images/avatars/thumb-7.jpg" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="float-right">
                                                <span class="badge badge-pill badge-blue font-size-12 p-h-10">In Progress</span>
                                            </div>
                                        </div>
                                        <div class="m-b-20 p-b-20 border-bottom">
                                            <div class="media align-items-center m-b-15">
                                                <div class="avatar avatar-image">
                                                    <img src="~/Adminassets/images/others/weather-app-thumb.jpg" alt="">
                                                </div>
                                                <div class="media-body m-l-20">
                                                    <h5 class="m-b-0">
                                                        <a href="" class="text-dark">Weather App</a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                            <div class="d-inline-block">
                                                <a class="m-r-5" data-toggle="tooltip" title="Lillian Stone" href="">
                                                    <div class="avatar avatar-image avatar-sm">
                                                        <img src="~/Adminassets/images/avatars/thumb-8.jpg" alt="">
                                                    </div>
                                                </a>
                                                <a class="m-r-5" data-toggle="tooltip" title="Victor Terry" href="">
                                                    <div class="avatar avatar-image avatar-sm">
                                                        <img src="~/Adminassets/images/avatars/thumb-9.jpg" alt="">
                                                    </div>
                                                </a>
                                                <a class="m-r-5" data-toggle="tooltip" title="Wilma Young" href="">
                                                    <div class="avatar avatar-image avatar-sm">
                                                        <img src="~/Adminassets/images/avatars/thumb-10.jpg" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="float-right">
                                                <span class="badge badge-pill badge-cyan font-size-12 p-h-10">Completed</span>
                                            </div>
                                        </div>
                                        <div class="m-b-20 p-b-20 border-bottom">
                                            <div class="media align-items-center m-b-15">
                                                <div class="avatar avatar-image">
                                                    <img src="~/Adminassets/images/others/music-app-thumb.jpg" alt="">
                                                </div>
                                                <div class="media-body m-l-20">
                                                    <h5 class="m-b-0">
                                                        <a href="" class="text-dark">Music App</a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <p>Protein, iron, and calcium are some of the nutritional benefits associated with cheeseburgers.</p>
                                            <div class="d-inline-block">
                                                <a class="m-r-5" data-toggle="tooltip" title="Darryl Day" href="">
                                                    <div class="avatar avatar-image avatar-sm">
                                                        <img src="~/Adminassets/images/avatars/thumb-2.jpg" alt="">
                                                    </div>
                                                </a>
                                                <a class="m-r-5" data-toggle="tooltip" title="Virgil Gonzales" href="">
                                                    <div class="avatar avatar-image avatar-sm">
                                                        <img src="~/Adminassets/images/avatars/thumb-4.jpg" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="float-right">
                                                <span class="badge badge-pill badge-cyan font-size-12 p-h-10">Completed</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="tab-pane fade" id="tab-network">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Infomation</h4>
                    </div>
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-image  m-h-10 m-r-15" style="height: 80px; width: 80px">
                                <img src="~/Adminassets/images/avatars/thumb-3.jpg" alt="">
                            </div>
                            <div class="m-l-20 m-r-20">
                                <h5 class="m-b-5 font-size-18">Change Avatar</h5>
                                <p class="opacity-07 font-size-13 m-b-0">
                                    Recommended Dimensions: <br>
                                    120x120 Max fil size: 5MB
                                </p>
                            </div>
                            <div>
                                <button class="btn btn-tone btn-primary">Upload</button>
                            </div>
                        </div>
                        <hr class="m-v-25">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="userName">User Name:</label>
                                    <input type="text" class="form-control" id="userName" placeholder="User Name" value="Marshall Nichols">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="email">Email:</label>
                                    <input type="password" class="form-control" id="email" placeholder="email" value="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="phoneNumber">Phone Number:</label>
                                    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="dob">Date of Birth:</label>
                                    <input type="text" class="form-control" id="dob" placeholder="Date of Birth">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="font-weight-semibold" for="language">Language</label>
                                    <select id="language" class="form-control">
                                        <option>English</option>
                                        <option>France</option>
                                        <option>German</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                @await Html.PartialAsync("changepasspartial", changePassword)
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Address Details</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="font-weight-semibold" for="fullAddress">Full Address:</label>
                                    <input type="text" class="form-control" id="fullAddress" placeholder="Full Address">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="stateCity">State & City:</label>
                                    <input type="text" class="form-control" id="stateCity" placeholder="State & City">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-semibold" for="language">Language</label>
                                    <select id="language-2" class="form-control">
                                        <option>United State</option>
                                        <option>United Kingdom</option>
                                        <option>France</option>
                                        <option>German</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->
