@model Khoaluan.Models.Item

<form asp-controller="AdminProducts" asp-action="CreateItem" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="font-weight-semibold" for="productName">Tên sản phẩm</label>
                <input type="text" class="form-control" asp-for="Name">
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" for="ShortDesc">Giá max</label>
                <input type="number" class="form-control" asp-for="MaxPrice">
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="productPrice">Giá min</label>
                    <input type="number" class="form-control" asp-for="MinPrice">
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
                <input id="txtFile" name="fThumb" type="file" class="form-control-file" asp-for="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
                <img id="imgView"/>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $("#txtFile").change(function (event) {
            var files = event.target.files;
            $("#imgView").attr("src", window.URL.createObjectURL(files[0]));
        })
    </script>
}