<div class="container" style="padding-top:8%">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="cardprofile">
                <div class="imgBxprofile">
                    <img src="https://media.discordapp.net/attachments/1022693758225100820/1022693891255828510/unknown.png">
                </div>
                <div class="contentprofile">
                    <div class="detailsprofile">
                        <h2>Nam<br><span>SEO</span></h2>
                        <div class="dataprofile">
                            <h3>333<br><span>Posts</span></h3>
                            <h3>333<br><span>Posts</span></h3>
                            <h3>333<br><span>Posts</span></h3>
                        </div>
                        <div class="actionBtn">
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <!-- <button>follow</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="cardprofile">
                <div class="imgBxprofile">
                    <img src="https://media.discordapp.net/attachments/1022693758225100820/1022693891255828510/unknown.png">
                </div>
                <div class="contentprofile">
                    <div class="detailsprofile">
                        <h2>Nam<br><span>SEO</span></h2>
                        <div class="dataprofile">
                            <h3>333<br><span>Posts</span></h3>
                            <h3>333<br><span>Posts</span></h3>
                            <h3>333<br><span>Posts</span></h3>
                        </div>
                        <div class="actionBtn">
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <!-- <button>follow</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="cardprofile">
                <div class="imgBxprofile">
                    <img src="https://media.discordapp.net/attachments/1022693758225100820/1022693891255828510/unknown.png">
                </div>
                <div class="contentprofile">
                    <div class="detailsprofile">
                        <h2>Nam<br><span>SEO</span></h2>
                        <div class="dataprofile">
                            <h3>333<br><span>Posts</span></h3>
                            <h3>333<br><span>Posts</span></h3>
                            <h3>333<br><span>Posts</span></h3>
                        </div>
                        <div class="actionBtn">
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <span style="font-size: 30px !important;" class="fa fa-facebook" aria-hidden="true"></span>
                            <!-- <button>follow</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>